<section class="jumbotron">
  <img style="border-radius: 40%" src="https://img.timesnownews.com/story/1528101025-brisk_walk.PNG?d=600x450" alt="Auth0 loves Angular logo"/>
  <h1>Steps on Steps</h1>
  <h3 style="color:white">Welcome to the SCE Step Challenge Website</h3>

  <p>Click the Login / Signup button to continue</p>

  <!-- <div class="btn btn-success btn-lg" *ngIf="!authService.authenticated" (click)="signup()">Sign Up for Free</div> -->

  <div class="btn btn-danger btn-lg" *ngIf="authService.authenticated" (click)="authService.logout()">Logout</div>
</section>

<article class="card-docs">
  <!-- <i class="card-docs-icon icon-budicon-499 orange"></i> -->
  <h2 class="card-docs-title">Last year SCE walked over a million miles</h2>
  <h1 class="card-docs-description">I should put some graphic here, huh?</h1>
  <p class="card-docs-description" *ngIf="!authService.authenticated"><a class="btn btn-success" (click)="authService.login()">Login / Signup</a></p>
  <p class="card-docs-description" *ngIf="authService.authenticated">You are already logged in. Proceed to next step!</p>
</article>


